extends ../layouts/main

block variables
	- var title = 'Стартовый Gulp Шаблон';
	- var pageClass = 'index-page';

block content
	.container
		.row
			p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своих решила деревни рукописи рот, щеке маленький взобравшись буквоград послушавшись одна напоивший пояс курсивных от всех вершину парадигматическая моей встретил наш?

block script
	script(src="libs/sweetalert/sweetalert.min.js")
	script(src="js/index.min.js")