block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}

		<!--[if IE]>
		meta(http-equiv="X-UA-Compatible" content="IE = edge")
		<![endif]-->

		meta(name="charset", content="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		meta(name="keywords", content="")

		link(rel="shortcut icon", href="img/favicon/favicon.ico", type="image/x-icon")
		link(rel="apple-touch-icon", href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon", sizes="72x72", href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="114x114", href="img/favicon/apple-touch-icon-114x114.png")

		link(rel="stylesheet", href="libs/reset-css/reset.min.css")
		link(rel="stylesheet", href="libs/bootstrap-grid/bootstrap-grid.min.css")

		link(rel="stylesheet", href="css/fonts.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="stylesheet", href="css/media.min.css")

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
	body(class=pageClass)
		.wrapper
			include ../modules/header
			include ../modules/menu
			block content
			include ../modules/footer

		script(src="libs/jquery/jquery.min.js")
		script(src="js/main.min.js")

		block script